@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&family=Ultra&display=swap');

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    text-align: center;
    background: rgb(242,235,91);
    background: radial-gradient(circle, rgba(242,235,91,1) 0%, rgba(249,73,73,1) 100%);
}

h1 {
    font-size: 8vmin;
    color: white;
    font-family: 'New Tegomin', serif;
    margin-top: 10px;
}

#gameboards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#tabla {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(4, 25%);
    grid-gap: 0;
}

#middle-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#random-card{
    height: 40vmin;
    width: 30vmin;
}

#reset-btn{
    background-color: transparent;
    color: rgba(249,73,73,1);
    border: 1px solid rgba(249,73,73,1);
    margin-top: 50px;
    border-radius: 4vmin;
    font-size: 20px;
    font-family: 'Ultra';
    padding: 2vmin 6vmin 2vmin 6vmin;
    cursor: pointer;
    transform: scale(.8);
}

#reset-btn:hover{
    background-color: rgba(249,73,73,1);
    color: rgb(242,235,91);
    transform: scale(.9);
    transition: all .25s ease-in;
}

#tabla img {
    height: 18vmin;
    cursor: pointer;
}

#c0r1 {
    z-index:0;
}

.bean_overlay{
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    opacity: 1;
}